<div class="btn-group btn-group-justified smoothie-nav-group" role="group">
    <a href="#/Fruits" class="btn hvr-underline-from-center smoothie-nav">Fruits</a>
    <a href="#/Vegetables" class="btn hvr-underline-from-center smoothie-nav">Vegetables</a>
    <a href="#/NutsandSeeds" class="btn hvr-underline-from-center smoothie-nav">Nuts and Seeds</a>
    <a href="#/Liquids" class="btn hvr-underline-from-center smoothie-nav">Liquids</a>
    <a href="#/Powders" class="btn hvr-underline-from-center smoothie-nav">Powders</a>
    <a href="#/Prebuilts" class="btn hvr-underline-from-center smoothie-nav">Prebuilts</a>
</div>